<!DOCTYPE html>
<html lang="zh-Hant">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  <link href="/css/app.css" rel="stylesheet">
  <title>Restaurant List</title>
</head>

<body class="d-flex flex-column">
  <header>
    <!-- navigation -->
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid justify-content-between px-5">
        <a class="navbar-brand ms-5" href="/">
          <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png"
            width="30" height="30" class="d-inline-block align-top" alt="我的餐廳清單">
          我的餐廳清單
        </a>
        {{#if user}}
        <div>
          <a href="/restaurants/new" class="btn btn-success">Create</a>
          {{> logout}}
        </div>
        {{/if}}
      </div>
    </nav>

    <div class="banner"></div>
  </header>

  <div class="col mainArea">
    {{{ body }}}
  </div>

  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.js"></script>
  <script>
    lazyload();
  </script>
</body>

</html>