<div class="container flex-fill my-3 d-flex justify-content-center align-items-center">
  <div class="fs-1 text-danger">
    <i class="fas fa-exclamation-circle"></i>
    {{ errorMsg }}
  </div>
</div>