<h1 class="restaurant-show-title">帳號登入</h1>
<div class="mt-5 container w-50">
  <form action="/login" method="POST" class="needs-validation" id="loginForm" novalidate>
    <div class="row mb-3">
      <label for="name_en" class="col-3 col-form-label fs-5 fw-bold">信箱</label>
      <div class="col-9">
        <input type="email" class="form-control" name="email" id="email" required>
      </div>
    </div>
    <div class="row mb-3">
      <label for="category" class="col-3 col-form-label fs-5 fw-bold">密碼</label>
      <div class="col-9">
        <input type="password" class="form-control" name="password" id="password" required>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <button type="submit" class="btn btn-primary" id="login">登入</button>
    </div>
  </form>
  <div class="text-center">尚未加入? <a href="/register">註冊</a></div>
</div>
{{> message}}

<script>
  const loginForm = document.getElementById('loginForm');

  loginForm.addEventListener('submit', (event) => {
    event.preventDefault();
    event.stopPropagation();

    loginForm.classList.add('was-validated');
    if (loginForm.checkValidity()) loginForm.submit();
  })
</script>