<h1 class="restaurant-show-title">帳號註冊</h1>
<div class="mt-5 container w-50">
  <form action="/users" method="POST" class="needs-validation" id="userForm" novalidate>
    <div class="row mb-3">
      <label for="name" class="col-3 col-form-label fs-5 fw-bold">用戶名</label>
      <div class="col-9">
        <input type="text" class="form-control" name="name" id="name" placeholder="Enter name">
      </div>
    </div>
    <div class="row mb-3">
      <label for="name_en" class="col-3 col-form-label fs-5 fw-bold">信箱 (<span class="text-danger">必填</span>)</label>
      <div class="col-9">
        <input type="email" class="form-control" name="email" id="email" placeholder="Enter email" required>
      </div>
    </div>
    <div class="row mb-3">
      <label for="category" class="col-3 col-form-label fs-5 fw-bold">密碼 (<span class="text-danger">必填</span>)</label>
      <div class="col-9">
        <input type="password" class="form-control" name="password" id="password" placeholder="Enter password"
          onchange="form.confirmPwd.pattern = this.value" required>
      </div>
    </div>
    <div class="row mb-3">
      <label for="image" class="col-3 col-form-label fs-5 fw-bold">確認密碼 (<span
          class="text-danger">必填</span>)</label>
      <div class="col-9">
        <input type="password" class="form-control" name="confirmPwd" id="confirmPwd" placeholder="Comfirm password"
          required>
        <div class="invalid-feedback">
          Make sure this value is the same as password field
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <button type="submit" class="btn btn-primary" id="createRestaurant">註冊</button>
    </div>
  </form>
  <div class="text-center">已有帳號? <a href="/login">登入</a></div>
</div>
{{> message}}

<script>
  const userForm = document.getElementById('userForm');

  userForm.addEventListener('submit', (event) => {
    event.preventDefault();
    event.stopPropagation();

    userForm.classList.add('was-validated');
    if (userForm.checkValidity()) userForm.submit();
  })
</script>